@model WebApplication1.Models.ViewModels.ListViewModel

<div class="row" style="display:flex; justify-content:stretch;">
    <div>
        <form asp-action="AddTask" id="form-action" method="post" role="form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <h6>Add New Item to List</h6>
            <input type="hidden" name="listId" value="@Model.ListId" />
            <div class="form-group" style="display: flex; align-items: center">
                <input asp-for="Task.TaskName" class="form-control" style="border-bottom-right-radius: 0px; border-top-right-radius: 0px;" />
                <span asp-validation-for="Task.TaskName" class="text-danger"></span>
                <input type="submit" id="form-button" value="+" class="btn btn-primary" style="text-align: center; border-bottom-left-radius: 0px; border-top-left-radius: 0px;" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}