@model HomeViewModel

<div class="wrapper" style="display: flex; justify-content: space-between;">
    <div class="bg-white border border-radius box-shadow" style="border-radius: 5px; padding: 10px; width: 30%; display: flex; flex-direction: column; justify-content: space-between;">
        <table>
            <thead>
                <tr>
                    <th scope="col" style="font-size: 16px;">Task Lists</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model.Lists)
                {
                    <tr class="task-row">
                        <td class="task-column" scope="row">
                            <a href="@Url.Action("RetrieveListItems", "List", new { ListId = t.ListId })">@t.ListName</a>
                        </td>
                        <td class="button-column">
                            <input type="submit" value="Delete" onclick="DeleteList(@t.ListId)" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <form id="addListForm">
            <input type="hidden" name="UserId" value="@Model.UserId" />
            <label for="listName">List Name:</label>
            <input type="text" id="listName" name="ListName" required />
            <button type="submit" id="addListButton">Create List</button>
        </form>
    </div>
</div>
